In [53]:
import pandas as pd

In [54]:
t = pd.read_csv("산사태_현황.csv")

In [55]:
t

     시도명  읍면명  산사태피해면적       산사태재해명  산사태재해년도 시군구명
0    경기도  단월면     3.15  7.28.~8.11.     2020  양평군
1    경기도  단월면     2.57  7.28.~8.11.     2020  양평군
2    경기도  단월면     2.28  7.28.~8.11.     2020  양평군
3    경기도  단월면     2.19  7.28.~8.11.     2020  양평군
4    경기도  호법면     1.96  7.28.~8.11.     2020  이천시
..   ...  ...      ...          ...      ...  ...
243  경기도   남면     0.10   8.26.~9.1.     2018  양주시
244  경기도   남면     0.02   8.26.~9.1.     2018  양주시
245  경기도   남면     1.50   8.26.~9.1.     2018  양주시
246  경기도   남면     0.05   8.26.~9.1.     2018  양주시
247  경기도  대곶면     0.16   8.26.~9.1.     2018  김포시

[248 rows x 6 columns]

In [56]:
t=t.loc[t["산사태재해년도"]==2020]

In [57]:
col = ["시도명","읍면명","산사태재해명","산사태재해년도"]

In [58]:
t.drop(col,axis=1,inplace=True)

C:\Users\dlehd\AppData\Local\Temp\ipykernel_3112\2384903989.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t.drop(col,axis=1,inplace=True)

In [59]:
t.reset_index(drop=True)

     산사태피해면적  시군구명
0       3.15   양평군
1       2.57   양평군
2       2.28   양평군
3       2.19   양평군
4       1.96   이천시
..       ...   ...
220     0.01   연천군
221     0.01   연천군
222     0.01   양평군
223     0.01   안성시
224     0.05  남양주시

[225 rows x 2 columns]

In [60]:
tp = t["산사태피해면적"].groupby(t["시군구명"])

In [61]:
tp=tp.sum().to_frame()

In [62]:
tp

      산사태피해면적
시군구명
가평군     15.13
김포시      0.24
남양주시     0.05
안성시     78.33
양평군     14.42
여주시      0.03
연천군      4.46
용인시     15.13
이천시     32.80
파주시      0.16
평택시      0.06
포천시      0.46
하남시      0.04

In [63]:
tp=tp.pivot_table(index=['시군구명',"산사태피해면적"])

In [64]:
tp.reset_index(inplace=True)

In [65]:
tp.rename(columns={"산사태피해면적":"2020년_산사태피해면적","시군구명":"시군구"},inplace=True)

In [66]:
t1=t["시군구명"].value_counts().to_frame()

In [67]:
t1.rename(columns={"시군구명":'2020년_산사태_발생건수'},inplace=True)

In [68]:
t1=t1.reset_index().rename(columns={"index":"시군구"})

In [69]:
ttp=pd.merge(t1,tp, how='outer',on="시군구")

In [70]:
ttp

     시군구  2020년_산사태_발생건수  2020년_산사태피해면적
0    안성시              94          78.33
1    이천시              45          32.80
2    용인시              25          15.13
3    가평군              19          15.13
4    양평군              16          14.42
5    연천군              13           4.46
6    포천시               5           0.46
7    파주시               2           0.16
8    여주시               2           0.03
9    김포시               1           0.24
10   평택시               1           0.06
11   하남시               1           0.04
12  남양주시               1           0.05

In [71]:
ttp.to_csv("산사태_전처리.csv", index=False, encoding="utf-8-sig")