In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
import matplotlib as mpl

In [6]:
rain = pd.read_csv("강수량_전처리.csv")
ma = pd.read_csv("산사태_전처리.csv")
t = pd.read_csv("터널_전처리.csv")

In [8]:
rain

     시군구  2018_평균 강수량  2019_평균 강수량  2020_평균 강수량
0    수원시   182.766667   125.866667   378.366667
1    성남시   212.500000   155.333333   365.500000
2    안양시   159.533333   157.000000   359.333333
3    부천시   199.533333   155.000000   307.500000
4    광명시   150.666667   149.666667   326.666667
5    평택시   214.166667   117.133333   361.233333
6    안산시   177.666667   127.666667   333.666667
7    과천시   178.333333   193.166667   388.666667
8    오산시   190.333333   135.166667   380.166667
9    시흥시   156.000000   125.800000   320.833333
10   군포시   136.000000   146.833333   360.500000
11   의왕시   190.800000   149.400000   305.733333
12   하남시   112.566667   200.000000   377.500000
13   용인시   206.933333   120.200000   401.000000
14   이천시   220.200000   125.366667   398.400000
15   안성시   193.566667   118.533333   381.900000
16   김포시   214.433333   106.700000   351.500000
17   화성시   157.600000   122.700000   336.066667
18   광주시   210.700000   173.533333   358.666667
19   여주시   209.566667   131.700000   382.033333
20   양평군   197.166667   154.866667   303.366667
21  의정부시   301.333333   175.500000   425.500000
22  동두천시   273.433333   176.100000   378.133333
23   고양시   312.666667   180.333333   349.000000
24   구리시   206.000000   181.933333   407.666667
25  남양주시   211.633333   187.333333   393.700000
26   파주시   221.833333   161.233333   335.366667
27   양주시   239.366667   154.300000   384.833333
28   포천시   251.666667   169.566667   357.066667
29   연천군   238.466667   162.600000   371.800000
30   가평군   221.733333   174.466667   382.500000

In [9]:
ma

     시군구  2020년_산사태_발생건수  2020년_산사태피해면적
0    안성시              94          78.33
1    이천시              45          32.80
2    용인시              25          15.13
3    가평군              19          15.13
4    양평군              16          14.42
5    연천군              13           4.46
6    포천시               5           0.46
7    파주시               2           0.16
8    여주시               2           0.03
9    김포시               1           0.24
10   평택시               1           0.06
11   하남시               1           0.04
12  남양주시               1           0.05

In [10]:
t

     시군구  터널수      총길이
0    용인시   51  30770.5
1    성남시   49  37405.3
2   남양주시   45  34195.7
3    광주시   40  30337.0
4    여주시   23  17530.0
5    가평군   20  17174.9
6    안성시   19  14905.0
7    의왕시   16   8270.0
8    양주시   16  21673.0
9    파주시   16   7107.0
10   양평군   16  11592.0
11   군포시   16  15267.0
12   화성시   14   5202.0
13   안산시   10   8868.0
14   포천시   10  10060.0
15   광명시    9  11241.0
16  의정부시    9  10253.0
17   하남시    7   3442.0
18   안양시    7  13292.0
19   고양시    6   1864.0
20   수원시    6   2892.0
21  동두천시    6   7898.0
22   평택시    5   1747.0
23   시흥시    5   2580.0
24   김포시    4    758.1
25   과천시    4   2769.0
26   이천시    3   2857.0
27   부천시    3    510.0
28   오산시    2    745.0
29   구리시    1   3605.0
30   연천군    1    298.0

In [11]:
main=pd.merge(t,rain, how='outer',on="시군구")

In [12]:
main=pd.merge(main,ma, how='outer',on='시군구')

In [13]:
main.isna().sum()

시군구                0
터널수                0
총길이                0
2018_평균 강수량        0
2019_평균 강수량        0
2020_평균 강수량        0
2020년_산사태_발생건수    18
2020년_산사태피해면적     18
dtype: int64

In [14]:
main.fillna(0,inplace=True)

In [15]:
main

,시군구,터널수,총길이,2018_평균 강수량,2019_평균 강수량,2020_평균 강수량,2020년_산사태_발생건수,2020년_산사태피해면적
0,용인시,51,30770.5,206.933333,120.200000,401.000000,25.0,15.13
1,성남시,49,37405.3,212.500000,155.333333,365.500000,0.0,0.00
2,남양주시,45,34195.7,211.633333,187.333333,393.700000,1.0,0.05
3,광주시,40,30337.0,210.700000,173.533333,358.666667,0.0,0.00
4,여주시,23,17530.0,209.566667,131.700000,382.033333,2.0,0.03
5,가평군,20,17174.9,221.733333,174.466667,382.500000,19.0,15.13
6,안성시,19,14905.0,193.566667,118.533333,381.900000,94.0,78.33
7,의왕시,16,8270.0,190.800000,149.400000,305.733333,0.0,0.00
8,양주시,16,21673.0,239.366667,154.300000,384.833333,0.0,0.00
9,파주시,16,7107.0,221.833333,161.233333,335.366667,2.0,0.16
10,양평군,16,11592.0,197.166667,154.866667,303.366667,16.0,14.42
11,군포시,16,15267.0,136.000000,146.833333,360.500000,0.0,0.00
12,화성시,14,5202.0,157.600000,122.700000,336.066667,0.0,0.00
13,안산시,10,8868.0,177.666667,127.666667,333.666667,0.0,0.00
14,포천시,10,10060.0,251.666667,169.566667,357.066667,5.0,0.46
15,광명시,9,11241.0,150.666667,149.666667,326.666667,0.0,0.00
16,의정부시,9,10253.0,301.333333,175.500000,425.500000,0.0,0.00
17,하남시,7,3442.0,112.566667,200.000000,377.500000,1.0,0.04
18,안양시,7,13292.0,159.533333,157.000000,359.333333,0.0,0.00
19,고양시,6,1864.0,312.666667,180.333333,349.000000,0.0,0.00
20,수원시,6,2892.0,182.766667,125.866667,378.366667,0.0,0.00
21,동두천시,6,7898.0,273.433333,176.100000,378.133333,0.0,0.00
22,평택시,5,1747.0,214.166667,117.133333,361.233333,1.0,0.06
23,시흥시,5,2580.0,156.000000,125.800000,320.833333,0.0,0.00
24,김포시,4,758.1,214.433333,106.700000,351.500000,1.0,0.24
25,과천시,4,2769.0,178.333333,193.166667,388.666667,0.0,0.00
26,이천시,3,2857.0,220.200000,125.366667,398.400000,45.0,32.80
27,부천시,3,510.0,199.533333,155.000000,307.500000,0.0,0.00
28,오산시,2,745.0,190.333333,135.166667,380.166667,0.0,0.00
29,구리시,1,3605.0,206.000000,181.933333,407.666667,0.0,0.00
30,연천군,1,298.0,238.466667,162.600000,371.800000,13.0,4.46

In [16]:
main.corr()

,터널수,총길이,2018_평균 강수량,2019_평균 강수량,2020_평균 강수량,2020년_산사태_발생건수,2020년_산사태피해면적
터널수,1.000000,0.941823,0.016041,0.024354,0.142209,0.107265,0.097009
총길이,0.941823,1.000000,0.042527,0.119542,0.226256,0.085618,0.084937
2018_평균 강수량,0.016041,0.042527,1.000000,0.215422,0.303026,0.021803,-0.001209
2019_평균 강수량,0.024354,0.119542,0.215422,1.000000,0.211603,-0.312428,-0.305527
2020_평균 강수량,0.142209,0.226256,0.303026,0.211603,1.000000,0.214879,0.184807
2020년_산사태_발생건수,0.107265,0.085618,0.021803,-0.312428,0.214879,1.000000,0.993690
2020년_산사태피해면적,0.097009,0.084937,-0.001209,-0.305527,0.184807,0.993690,1.000000

In [17]:
main.to_csv("통합비교분석데이터.csv", index=False, encoding="utf-8-sig")